@mixin overflow-auto($direction: 'both') {
    @if $direction == 'both' {
        overflow: auto;
    } @else {
        overflow-#{$direction}: auto;
    }
    -webkit-overflow-scrolling: touch;
}

$padding: 10px;
$blue: #2196f3;
$font-size-s: 12px;
$red: #f44336;
$gray: #707d8b;
$font-size: 14px;
$gray-light: #eceffe;

.timing {
    @include overflow-auto(y);
    .performance-timing {
        padding: $padding 0;
        .inner-wrapper {
            background: $blue;
            .bar {
                @include overflow-auto(x);
                border-bottom: 1px solid #fff;
                span {
                    font-size: $font-size-s;
                    white-space: nowrap;
                    color: #fff;
                    padding: 5px 0;
                    background: $red;
                    display: inline-block;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    .performance-timing-data {
        padding-bottom: $padding;
        text-align: center;
        table {
            width: 100%;
            background: #fff;
            border-collapse: collapse;
            text-align: left;
            th {
                background: $gray;
                text-align: left;
                color: #fff;
                font-size: $font-size;
            }
            td {
                font-size: $font-size-s;
            }
            th, td {
                padding: 10px;
            }
        }
    }
    .title {
        background: $gray;
        padding: $padding;
        color: #fff;
    }
    .entries {
        background: #fff;
        border-bottom: 1px solid $gray-light;
        margin-bottom: 10px;
        li {
            @include overflow-auto(x);
            cursor: pointer;
            border-top: 1px solid $gray-light;
            height: 41px;
            white-space: nowrap;
            &.error {
                span {
                    color: $red;
                }
            }
            span {
                display: inline-block;
                line-height: 40px;
                height: 40px;
                padding: 0 10px;
                font-size: $font-size-s;
                vertical-align: top;
            }
            &:nth-child(even) {
                background: $gray-light;
            }
        }
    }
    .not-supported {
        background: $red;
        color: #fff;
        margin: 10px;
        padding: $padding;
        border-radius: 4px;
        text-align: center;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08), 0 3px 1px -2px rgba(0, 0, 0, .2)
    }
}